// Universals

$old-lavender: #7e6c6c;
$light-coral: #f87575;
$melon: #ffa9a3;
$light-melon: #ffd5d2;
$uranian-blue: #b9e6ff;
$cornflower-blue: #5c95ff;
$dim-gray: #717171;

@mixin parallax-header($imgSrc, $imgSrcBig) {
  background-image: $imgSrc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 2px #333, -2px -2px 2px #333;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @media only screen and (min-width: 992px) {
    background-image: $imgSrcBig;
  }
}

@mixin responsive-grid(
  $firstCol,
  $gridGap,
  $gridAreas1,
  $vw,
  $secondCol,
  $gridAreas2
) {
  display: grid;
  grid-template-columns: $firstCol;
  grid-gap: $gridGap;
  grid-template-areas: $gridAreas1;

  @media only screen and ($vw) {
    grid-template-columns: $secondCol;
    grid-template-areas: $gridAreas2;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(44, 44, 44);
}

// Navbar

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
  transition: 300ms;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;

    li {
      position: relative;
      margin: 0 3px;

      a {
        display: inline-block;
        padding: 5px 8px;
      }
    }

    li::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 3px;
      opacity: 0;
      background: $old-lavender;
      transition: 300ms;
    }

    li:hover::before {
      opacity: 1;
      bottom: 0;
    }

    #resume-link {
      background: $light-melon;
      position: relative;
      transition: 300ms;
    }

    #resume-link:hover {
      background: $old-lavender;
      color: white;
    }
  }
}

nav.shown {
  top: 0;
  opacity: 1;
}

#main-header {
  height: 60vh;
  background: url('../../images/header-background.jpg') no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 8vmax;
    letter-spacing: 10px;
    font-family: 'Pacifico', cursive;
  }

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }
}

.container {
  max-width: 980px;
  width: 75%;
  margin: 0 auto 30px;
}

/* About */

#about {
  background-color: rgb(245, 245, 245);
  padding: 2rem 1rem;
  border-bottom: 1px solid rgb(218, 218, 218);

  h3 {
    margin-bottom: 4rem;
    font-size: 2em;
  }

  .container {
    display: flex;
    padding: 4rem;
    background: white;
    box-shadow: 0 0 15px 0 rgb(223, 223, 223);

    @media (max-width: 1000px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
    }

    img {
      margin-left: -100px;
      height: 300px;
      width: 300px;
      box-shadow: 15px 15px $melon;

      @media (max-width: 1000px) {
        margin-left: 0;
        margin-bottom: 2rem;
        box-shadow: 10px -10px $melon;
      }
    }

    p {
      margin-left: 80px;
      line-height: 1.8;

      @media (max-width: 1000px) {
        margin-left: 0;
      }
    }
  }
}

/* Portfolio */

#portfolio {
  padding: 4rem;

  h4 {
    margin-bottom: 2rem;
    font-weight: normal;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;

    .project-card {
      position: relative;
      cursor: pointer;
      transition: 200ms ease-in-out;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 300ms 100ms ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;

      h5 {
        margin-top: 20px;
        transition: 300ms 100ms ease-in-out;
      }
    }

    .project-card:hover {
      transform: scale(1.02);
    }

    .project-card:hover h5 {
      margin-top: 0;
    }

    .project-card:hover > .overlay {
      opacity: 1;
    }

  }
}


/***** Testimonials Section *****/

#testimonials {
  background-color: $uranian-blue;
  padding-bottom: 20px;
}

.testimonial-header {
  @include parallax-header(
    url("../../images/testimonials\ 1100w.jpg"),
    url("../../images/testimonials max.jpg")
  );
}

.testimonial-carousel {
  max-width: 980px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

.testimonial-img {
  border-radius: 100%;
  height: auto;
  width: 25%;
  display: block;
  margin: 20px auto auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $dim-gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: $dim-gray;
  font-size: 15px;
  padding: 3% 15%;
  bottom: 8px;
  width: 100%;
  text-align: center;
  // text-shadow: 0.5px 0.5px 1px #333;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $dim-gray;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*! Carousel ends

/***** Contact Section *****/

.contact-header {
  @include parallax-header(
    url("../../images/contact\ 1100w.jpg"),
    url("../../images/contact\ max.jpg")
  );
}

.contact-sub-header {
  @extend .container;
  text-align: center;
}

.contact-info {
  @extend .container;
  @include responsive-grid(
    1fr,
    0,
    "contactImage" "contactText" "contactText" "contactText",
    "min-width: 692px",
    1fr 3fr,
    "contactImage contactText" "contactImage contactText"
      "contactImage contactText"
  );
  grid-template-rows: auto;

  img {
    grid-area: contactImage;
    width: 100%;
    margin-bottom: 30px;
  }

  .contact-text {
    grid-area: contactText;
    line-height: 2;
    padding-left: 30px;
    i {
      color: $dim-gray;
      padding-right: 5px;
    }
    form {
      margin-top: 30px;
      fieldset {
        border: none;
        margin: 0;
        padding: 0;
      }
      input,
      textarea {
        background-color: #eee;
        border: 1px solid transparent;
        // border-radius: 2px;
        outline: none;
        margin: 5px 0;
        padding: 5px;
        transition: all 0.4s;
        width: 100%;
        &:focus {
          background-color: #fff;
          border: 1px solid $light-coral;
        }
      }
      button {
        background-color: $light-coral;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        width: 100px;
        &:hover {
          background-color: $melon;
        }
        i {
          color: #fff;
        }
      }
    }
  }
}

/***** Resume page *****/

.experience-section .container {
  @include responsive-grid(
    1fr,
    50px,
    "header" "skills" "work" "education",
    "min-width: 768px",
    1fr 3fr,
    "header header" "skills work" "skills education"
  );
}

.resume-header {
  @include parallax-header(
    url("../../images/resume 1100w.jpg"),
    url("../../images/resume max.jpg")
  );
  grid-area: header;
}

#work {
  grid-area: work;
}

#education {
  grid-area: education;
}

#skills {
  grid-area: skills;
  line-height: 2;
  div {
    div {
      background-color: $light-melon;
      div {
        background-color: $light-coral;
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }
}

/***** Footer *****/

footer {
  background-color: $old-lavender;
  color: #fff;
  margin-top: 70px;
  padding: 50px 0 30px;
  text-align: center;

  .some a {
    display: inline-block;
    margin: 10px 5px;
    transition: 200ms;
  }

  .some a:hover {
    transform: scale(1.1);
  }

  p {
    font-size: 0.8rem;
  }
}
